* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  transition: all 1s;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: rgb(216, 216, 216);
  flex-direction: column;
}

.container {
  display: flex;
  gap: 10px;
  width: 835px;
  /* height: 265px; */
  margin-bottom: 10px;
}

.cardDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 220px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  animation: opacity 1s;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.switch {
  font-size: 15px;
}

@keyframes opacity {
  from {
    /* opacity: 0; */
    transform: translateY(-10px);
  }
  to {
    /* opacity: 1; */
    transform: translateY(0px);
  }
}

.cards {
  display: flex;
  border: 1px solid orange;
}

h1 {
  animation: opacity 1s;
}

.text {
  /* border-bottom: 3px solid blue; */
}
